Xamarin.HighCharts/Xamarin.HighCharts/Service References/WCFHighChartsService/WCFHighChartsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFHighChartsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://xamarinservices.cloudapp.net/WCFHighChartsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://xamarinservices.cloudapp.net/WCFHighChartsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFHighChartsService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_AddExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpense" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_AddExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_DeleteExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpense" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_DeleteExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_UpdateExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpense" />
  </wsdl:message>
  <wsdl:message name="IWCFHighChartsService_UpdateExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpenseResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFHighChartsService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/AddUser" message="tns:IWCFHighChartsService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/AddUserResponse" message="tns:IWCFHighChartsService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/DeleteUser" message="tns:IWCFHighChartsService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/DeleteUserResponse" message="tns:IWCFHighChartsService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/UpdateUser" message="tns:IWCFHighChartsService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/UpdateUserResponse" message="tns:IWCFHighChartsService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/GetUsers" message="tns:IWCFHighChartsService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/GetUsersResponse" message="tns:IWCFHighChartsService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/ValidateUser" message="tns:IWCFHighChartsService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/ValidateUserResponse" message="tns:IWCFHighChartsService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/AddExpense" message="tns:IWCFHighChartsService_AddExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/AddExpenseResponse" message="tns:IWCFHighChartsService_AddExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/DeleteExpense" message="tns:IWCFHighChartsService_DeleteExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/DeleteExpenseResponse" message="tns:IWCFHighChartsService_DeleteExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHighChartsService/UpdateExpense" message="tns:IWCFHighChartsService_UpdateExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHighChartsService/UpdateExpenseResponse" message="tns:IWCFHighChartsService_UpdateExpense_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFHighChartsService" type="tns:IWCFHighChartsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpense">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/AddExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExpense">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/DeleteExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <soap:operation soapAction="http://tempuri.org/IWCFHighChartsService/UpdateExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFHighChartsService">
    <wsdl:port name="BasicHttpBinding_IWCFHighChartsService" binding="tns:BasicHttpBinding_IWCFHighChartsService">
      <soap:address location="http://xamarinservices.cloudapp.net/WCFHighChartsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>